<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Mural de Avisos</h2>
    <ol class="breadcrumb">
      <li class="active">
        <a href="#">Mural de Avisos</a>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated">
  <div class="ibox-content">
    <%= form_for @building_message do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.text_area :message_description, required: true, autofocus: true, placeholder: 'Mensagem aos condôminos', class: 'form-control', rows: 5 %>
          <%= f.hidden_field :user_id, value: 1 %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 pull-right" style="margin-top: 20px;">
          <button type="submit" class="btn btn-primary m-b pull-right">	Nova Mensagem</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-content forum-container">
    <div class="forum-title">
        <div class="pull-right forum-desc">
            <samll>Total mensagens: <%= BuildingMessage.count %></samll>
        </div>
        <h3>Últimas Mensagens</h3>
    </div>

    <% @building_messages.each do |message| %>
      <div class="forum-item active">
          <div class="row">
            <div class="col-md-9">
              <div class="forum-icon">
                <i class="fa fa-user"></i>
              </div>
              <a href="" class="forum-item-title"><%= message.message_description %></a>
              <div class="forum-sub-title">Mensagem enviada em: <%= message.created_at.strftime("%d/%m/%y") %></div>
            </div>
          </div>
      </div>
    <% end  %>
  </div>
</div>
