<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Maintenance date:</strong>
  <%= @product.maintenance_date %>
</p>

<p>
  <strong>Building location:</strong>
  <%= @product.building_location %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
